In [4]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
weather_data = {
'day':['01-01-2017','01-02-2017','01-03-2017','01-04-2017','01-05-2017','01-06-2017'],
'temperature':[32,35,28,24,32,31],
'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
2  01-03-2017           28   Snow
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [6]:
df.shape

(6, 3)

In [7]:
df.head()

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
2  01-03-2017           28   Snow
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain

In [8]:
df.head(2)

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny

In [9]:
df.tail()

          day  temperature  event
1  01-02-2017           35  Sunny
2  01-03-2017           28   Snow
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [10]:
df.tail(2)

          day  temperature  event
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [11]:
df[3:6]

          day  temperature  event
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [12]:
df[0:2]

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny

In [13]:
df[:]

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
2  01-03-2017           28   Snow
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [14]:
df

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
2  01-03-2017           28   Snow
3  01-04-2017           24   Snow
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [15]:
df.columns

Index(['day', 'temperature', 'event'], dtype='object')

In [16]:
df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [17]:
type(df['day'])

pandas.core.series.Series

In [18]:
df[['day', 'event']]

          day  event
0  01-01-2017   Rain
1  01-02-2017  Sunny
2  01-03-2017   Snow
3  01-04-2017   Snow
4  01-05-2017   Rain
5  01-06-2017  Sunny

In [19]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [20]:
df['temperature'].max()

35

In [21]:
df[df['temperature']>=31]

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
4  01-05-2017           32   Rain
5  01-06-2017           31  Sunny

In [22]:
df[df['temperature']>31]

          day  temperature  event
0  01-01-2017           32   Rain
1  01-02-2017           35  Sunny
4  01-05-2017           32   Rain

In [23]:
df[df['temperature']==df['temperature'].max()]

          day  temperature  event
1  01-02-2017           35  Sunny

In [24]:
df[df['temperature'] == df['temperature'].min()]

          day  temperature event
3  01-04-2017           24  Snow

In [25]:
df.describe()

       temperature
count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000

In [26]:
df = pd.read_csv("weather_data.csv")

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [29]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [30]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
newdf = df.set_index('day')
newdf

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [39]:
df.set_index('day', inplace=True)

In [40]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [41]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [42]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [43]:
df.reset_index(inplace=True)

In [44]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [45]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [47]:
df.set_index('event', inplace=True)

In [48]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [49]:
df.loc['Sunny']

            day  temperature  windspeed
event
Sunny  1/2/2017           35          7
Sunny  1/6/2017           31          2