In [6]:
import pandas as pd
import sqlalchemy
import pymysql

In [8]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost:3306/dressmaker01")
engine

Engine(mysql+pymysql://root:***@localhost:3306/dressmaker01)

In [9]:
type(engine)

sqlalchemy.engine.base.Engine

In [10]:
df = pd.read_sql_table('tailor_tags', engine)
df

    tailor_tailor_id           tags
0                  1         achkan
1                  1          shirt
2                  1        trouser
3                  1      chooridar
4                  1          frock
5                  1  salwar kameez
6                  1    bridal gown
7                  2         achkan
8                  2          shirt
9                  2        trouser
10                 2      chooridar
11                 2          frock
12                 2  salwar kameez
13                 2    bridal gown
14                 6
15                 7          login
16                 7    programming
17                 7          stack
18                 7         design
19                 7      framework

In [12]:
df = pd.read_sql_query("select tailor_tailor_id, tags from tailor_tags where tailor_tailor_id=2", engine)
df
type(df)

pandas.core.frame.DataFrame